@model Home_Work.Models.ViewModels.RegisterViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="page-content bg-white">
        <!-- contact area -->
        <div class="section-full content-inner shop-account">
            <!-- Product -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 m-b30">
                        <div class="p-a30 border-1  max-w500 m-auto">
                            <div class="tab-content">
                                <form id="login" class="tab-pane active">
                                    <h4 class="font-weight-700">REGISTRATION</h4>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="font-weight-700">Your First Name *</label>
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <label class="font-weight-700">Your Middle  Name </label>
                                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <label class="font-weight-700">Your Last Name *</label>
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <label class="font-weight-700">Unique User Name *</label>
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <label class="font-weight-700">New Password</label>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <label class="font-weight-700">Confirm Password</label>
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <label class="font-weight-700">Your E-MAIL *</label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <label class="font-weight-700">Your Current Address *</label>
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <label class="font-weight-700"> Your Country Code *</label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <label class="font-weight-700">Your Phone*</label>
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <label class="font-weight-700">Your Nationality</label>
                                            @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                        <div class="text-left">
                                            <button class="site-button button-lg outline outline-2">Register</button>
                                            <a href="@Url.Action("Login", "Account")" style="color:red;padding-left:50px">Login</a>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product END -->
        </div>
        <!-- contact area  END -->
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
