@model IEnumerable<Home_Work.Models.Portfolio_Image>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageCaption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageCaption)
        </td>
        <td>
            <img src="~/Images/Banner/@item.Photo" height="50" width="50" />
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
