@model IEnumerable<Home_Work.Models.Job_Post>
<div class="dez-bnr-inr dez-bnr-inr-md" style="background-image:url(images/main-slider/slide2.jpg);">
    <div class="container">
        <div class="dez-bnr-inr-entry align-m ">
            <div class="find-job-bx">
                <p class="site-button button-sm">Find Jobs, Employment & Career Opportunities</p>
                <h2>Search For <br /> <span class="text-primary">JOBS</span></h2>
                <form class="dezPlaceAni">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search Keyword">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label>City, State or ZIP</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <select>
                                    <option>Select Sector</option>
                                    <option>Construction</option>
                                    <option>Corodinator</option>
                                    <option>Employer</option>
                                    <option>Financial Career</option>
                                    <option>Information Technology</option>
                                    <option>Marketing</option>
                                    <option>Quality check</option>
                                    <option>Real Estate</option>
                                    <option>Sales</option>
                                    <option>Supporting</option>
                                    <option>Teaching</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <button type="submit" class="site-button btn-block">Find Job</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="section-full bg-white content-inner-2">
    <div class="container">
        <div class="d-flex job-title-bx section-head">
            <div class="mr-auto">
                <h2 class="m-b5">Recent Jobs</h2>
            </div>
            <div class="align-self-end">
                <a href="#" class="site-button button-sm">Browse All Jobs <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <ul class="post-job-bx">
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="#">
                                <div class="d-flex m-b30">
                                    <div class="job-post-company">
                                        <span><img src="~/Content/images/logo/icon1.png"/></span>
                                    </div>
                                    <div class="job-post-info">
                                        <h4>@item.Title</h4>
                                        <ul>
                                            @foreach (var skilltype in ViewBag.SkillType)
                                            {
                                                if (skilltype.Id == item.SkillTypeId)
                                                {
                                                    <li><i class="fa fa-map-marker"></i>@skilltype.Name</li>
                                                }
                                            }
                                            @foreach (var worktype in ViewBag.WorkType)
                                            {
                                                if (worktype.Id == item.WorkingTypeId)
                                                {
                                                    <li><i class="fa fa-bookmark-o"></i>@worktype.Name</li>
                                                }
                                            }

                                            <li><i class="fa fa-clock-o"></i>@item.WorkingHour</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="job-time mr-auto">
                                        @foreach (var worktype in ViewBag.WorkType)
                                        {
                                            if (worktype.Id == item.WorkingTypeId)
                                            {
                                                <span>@worktype.Name</span>
                                            }
                                        }
                                            </div>
                                    <div class="salary-bx">
                                        <span>$@item.Price</span>
                                    </div>
                                </div>
                                <span class="post-like fa fa-heart-o"><a href="@Url.Action("Detail","Job",new { Id=item.Id})">Apply Job</a></span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>