@model IEnumerable<Home_Work.Models.Job_Post>

@{
    ViewBag.Title = "JobList";
}
<div class="row" style="padding-left:50px;">
    <div class="col-lg-9">
        <ul class="post-job-bx">
            @foreach (var item in Model)
            {
                <li>
                    <a href="#">
                        <div class="d-flex m-b30">
                            <div class="job-post-company">
                                <span><img src="~/Content/images/logo/icon1.png" /></span>
                            </div>
                            <div class="job-post-info">
                                <h4>@item.Title</h4>
                                <ul>
                                    @foreach (var skilltype in ViewBag.SkillType)
                                    {
                                        if (skilltype.Id == item.SkillTypeId)
                                        {
                                            <li><i class="fa fa-map-marker"></i>@skilltype.Name</li>
                                        }
                                    }
                                    @foreach (var worktype in ViewBag.WorkType)
                                    {
                                        if (worktype.Id == item.WorkingTypeId)
                                        {
                                            <li><i class="fa fa-bookmark-o"></i>@worktype.Name</li>
                                        }
                                    }

                                    <li><i class="fa fa-clock-o"></i>@item.WorkingHour</li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="job-time mr-auto">
                                @foreach (var worktype in ViewBag.WorkType)
                                {
                                    if (worktype.Id == item.WorkingTypeId)
                                    {
                                        <span>@worktype.Name</span>
                                    }
                                }
                            </div>
                            <div class="salary-bx">
                                <span>$@item.Price</span>
                            </div>
                        </div>
                        <span class="post-like fa fa-heart-o"><a href="@Url.Action("Detail","Job",new { Id=item.Id})">Apply Job</a></span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
